{"openapi":"3.0.3","info":{"title":"Iconive API","version":"1.0.0","description":"Complete OpenAPI 3.0 documentation for the Iconive Backend.\n\n## Authentication\nMost protected endpoints require a JWT Bearer token.\n1. Call `POST /api/auth/login` or `POST /api/auth/signUp`\n2. Copy the returned `token`\n3. Click **Authorize** in Swagger UI and enter: `Bearer <token>` (or just the token — Swagger UI adds Bearer automatically)\n\n## Roles\n- `user` — default customer role\n- `admin` — administrative operations\n- `isWholeSaler` — wholesaler flag on the user (used by wholesale flows)\n\nDocumentation is derived from the live Express routes and models and does not change API behavior.","contact":{"name":"Iconive Backend"}},"servers":[{"url":"https://whale-app-7cd94.ondigitalocean.app","description":"Local / configured server"},{"url":"http://localhost:8080","description":"Local development (port 8080)"}],"tags":[{"name":"Root","description":"Health and root endpoints"},{"name":"Auth","description":"Signup, login, and password flows"},{"name":"Users","description":"User profile and admin user management"},{"name":"Products","description":"Product catalog CRUD"},{"name":"Filter Products","description":"Curated product listings"},{"name":"Colors","description":"Product color options"},{"name":"Add-ons","description":"Product add-on options"},{"name":"Category","description":"Categories and subcategory creation"},{"name":"SubCategory","description":"Subcategory listing"},{"name":"Vouchers","description":"Discount vouchers"},{"name":"Ratings","description":"Product ratings"},{"name":"Orders","description":"Customer order lifecycle"},{"name":"Payment","description":"Payment creation and gateway callbacks"},{"name":"Cart","description":"Cart price calculation"},{"name":"Order Items","description":"Order line items"},{"name":"Wishlist","description":"User wishlist"},{"name":"Invoice","description":"Invoice PDF generation"},{"name":"Wholesale","description":"Wholesale products, requests, and orders"},{"name":"Custom Wigs","description":"Custom wig requests and sheets"},{"name":"Custom Products","description":"Custom product preferences"}],"paths":{"/":{"get":{"tags":["Root"],"summary":"Health / hello check","description":"Returns a simple hello-world payload for all HTTP methods.","operationId":"rootHello","responses":{"200":{"description":"Hello world response","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"hello world"}}},"example":{"message":"hello world"}}}}}}},"/api/auth/signUp":{"post":{"tags":["Auth"],"summary":"Register a new user","description":"Creates a user account and returns a JWT. If `verified` is `false`, an activation email is sent.","operationId":"signUp","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSignUp"},"example":{"name":"Jane Doe","email":"jane@example.com","password":"secret123","passwordConfirm":"secret123","verified":false}}}},"responses":{"200":{"description":"User created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthTokenResponse"},"example":{"status":"Success","message":"User created successfully","token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...","user":{"_id":"6436ef1b4fb336001b12997d","name":"Jane Doe","email":"jane@example.com","role":"user","activated":false}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"409":{"description":"User already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/api/auth/login":{"post":{"tags":["Auth"],"summary":"Log in","description":"Authenticates with email and password. Returns a JWT and also sets a `jwt` cookie.","operationId":"login","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserLogin"},"example":{"email":"jane@example.com","password":"secret123"}}}},"responses":{"200":{"description":"Login successful","headers":{"Set-Cookie":{"description":"JWT cookie named `jwt`","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthTokenResponse"},"example":{"status":"success","token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...","user":{"_id":"6436ef1b4fb336001b12997d","name":"Jane Doe","email":"jane@example.com","role":"user"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/api/auth/confirmMail/{activationLink}":{"get":{"tags":["Auth"],"summary":"Confirm email / activate account","description":"Activates the account using the emailed activation token and redirects to the frontend login page.","operationId":"confirmMail","parameters":[{"name":"activationLink","in":"path","required":true,"schema":{"type":"string"},"description":"Raw activation token from the email link","example":"a1b2c3d4e5f6..."}],"responses":{"302":{"description":"Redirect to frontend login page","headers":{"Location":{"schema":{"type":"string","format":"uri"},"description":"Frontend login URL"}}},"400":{"$ref":"#/components/responses/BadRequest"}}}},"/api/auth/forgotPassword":{"post":{"tags":["Auth"],"summary":"Request password reset","description":"Sends a password-reset email containing a reset link if the email exists.","operationId":"forgotPassword","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForgotPassword"},"example":{"email":"jane@example.com"}}}},"responses":{"200":{"description":"Reset email sent","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResponse"},"example":{"status":"Success","message":"Token sent to email!"}}}},"400":{"$ref":"#/components/responses/BadRequest"}}}},"/api/auth/resetPassword/{resetToken}":{"patch":{"tags":["Auth"],"summary":"Reset password","description":"Resets the user password using a valid reset token and returns a new JWT.","operationId":"resetPassword","parameters":[{"name":"resetToken","in":"path","required":true,"schema":{"type":"string"},"description":"Password reset token from email"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetPassword"},"example":{"password":"newSecret1","passwordConfirm":"newSecret1"}}}},"responses":{"200":{"description":"Password reset successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthTokenResponse"},"example":{"status":"success","token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."}}}},"400":{"$ref":"#/components/responses/BadRequest"}}}},"/api/users/me":{"get":{"tags":["Users"],"summary":"Get current user","description":"Returns the authenticated user's profile.","operationId":"getMe","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Current user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessUser"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}},"patch":{"tags":["Users"],"summary":"Update current user","description":"Updates the authenticated user's profile. Password fields are not allowed.","operationId":"updateMe","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserUpdate"},"example":{"name":"Jane Updated","gender":"Female"}}}},"responses":{"200":{"description":"User updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessUser"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/api/users/updatePassword":{"patch":{"tags":["Users"],"summary":"Update password","description":"Changes the password for the logged-in user and returns a new JWT. Requires a valid current password. Note: the route expects an authenticated user (`req.user`).","operationId":"updatePassword","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePassword"}}}},"responses":{"200":{"description":"Password updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthTokenResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/api/users/":{"get":{"tags":["Users"],"summary":"List all users","description":"Returns all users. Currently public (no auth middleware).","operationId":"getAllUsers","responses":{"200":{"description":"List of users","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessUsersList"}}}}}},"post":{"tags":["Users"],"summary":"Create user (admin)","description":"Creates a user as admin. Requires admin role (`restrictTo('admin')`).","operationId":"createUser","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSignUp"}}}},"responses":{"200":{"description":"User created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessUser"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"403":{"$ref":"#/components/responses/Forbidden"}}}},"/api/users/{id}":{"get":{"tags":["Users"],"summary":"Get user by ID","operationId":"getUser","security":[{"bearerAuth":[]}],"parameters":[{"$ref":"#/components/parameters/MongoId"}],"responses":{"200":{"description":"User found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessUser"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}},"patch":{"tags":["Users"],"summary":"Update user by ID","description":"Updates a user by ID. Password fields are not allowed.","operationId":"updateUser","parameters":[{"$ref":"#/components/parameters/MongoId"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserUpdate"}}}},"responses":{"200":{"description":"User updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessUser"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"404":{"$ref":"#/components/responses/NotFound"}}},"delete":{"tags":["Users"],"summary":"Delete user (admin)","description":"Deletes a user. Requires admin role.","operationId":"deleteUser","security":[{"bearerAuth":[]}],"parameters":[{"$ref":"#/components/parameters/MongoId"}],"responses":{"200":{"description":"User deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessUser"}}}},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/api/products/":{"get":{"tags":["Products"],"summary":"List available products","description":"Returns available products with quantity > 0. Supports optional category/subcategory filters. Relations are populated via aggregation.","operationId":"getAllProducts","parameters":[{"name":"filters[categories]","in":"query","schema":{"type":"array","items":{"$ref":"#/components/schemas/ObjectId"}},"style":"form","explode":true,"description":"Filter by category ObjectIds"},{"name":"filters[subcategories]","in":"query","schema":{"type":"array","items":{"$ref":"#/components/schemas/ObjectId"}},"style":"form","explode":true,"description":"Filter by subcategory ObjectIds"}],"responses":{"200":{"description":"Product list","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Product"}}}}}}},"post":{"tags":["Products"],"summary":"Create product (admin)","description":"Creates a new product. Requires Bearer JWT and admin role.","operationId":"createProduct","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductCreate"},"example":{"name":"Lace Front Wig","price":250,"description":"Premium human hair","quantity":10,"discount":5,"available":true}}}},"responses":{"200":{"description":"Created product","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Product"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"}}}},"/api/products/{id}":{"get":{"tags":["Products"],"summary":"Get product by ID","description":"Returns a product with populated relations. Add-ons are regrouped as `{ name, values[] }`. Returns `{}` if not found.","operationId":"getProduct","parameters":[{"$ref":"#/components/parameters/MongoId"}],"responses":{"200":{"description":"Product details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Product"}}}}}},"patch":{"tags":["Products"],"summary":"Update product (admin)","operationId":"updateProduct","security":[{"bearerAuth":[]}],"parameters":[{"$ref":"#/components/parameters/MongoId"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductUpdate"}}}},"responses":{"200":{"description":"Updated product","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Product"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}},"delete":{"tags":["Products"],"summary":"Delete product (admin)","operationId":"deleteProduct","security":[{"bearerAuth":[]}],"parameters":[{"$ref":"#/components/parameters/MongoId"}],"responses":{"200":{"description":"Product deleted","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"success"},"data":{"$ref":"#/components/schemas/Product"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"}}}},"/api/filterProducts/mostSold":{"get":{"tags":["Filter Products"],"summary":"Most sold products","description":"Top 4 products with sold > 0, sorted by sold descending.","operationId":"getMostSold","responses":{"200":{"description":"Most sold products","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Product"}}}}}}}},"/api/filterProducts/newArrivals":{"get":{"tags":["Filter Products"],"summary":"New arrivals","description":"Latest 4 products. `createdAt` may be rewritten as milliseconds.","operationId":"getNewArrivals","responses":{"200":{"description":"New arrival products","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Product"}}}}}}}},"/api/filterProducts/offers":{"get":{"tags":["Filter Products"],"summary":"Discounted products","description":"Available products with quantity > 0 and discount > 0.","operationId":"getOffers","responses":{"200":{"description":"Offer products","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Product"}}}}}}}},"/api/filterProducts/stock":{"get":{"tags":["Filter Products"],"summary":"Stock products","description":"Products filtered to a fixed subcategory used for stock listings.","operationId":"getStock","responses":{"200":{"description":"Stock products","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Product"}}}}}}}},"/api/colors/":{"post":{"tags":["Colors"],"summary":"Create color (admin)","operationId":"createColor","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Color"},"example":{"name":"Natural Black","color":"#1a1a1a","family":"Black","price":0,"currency":"bdt"}}}},"responses":{"200":{"description":"Created color","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Color"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"}}},"get":{"tags":["Colors"],"summary":"List colors (admin)","operationId":"getAllColors","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Color list","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Color"}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"}}}},"/api/addOns/":{"get":{"tags":["Add-ons"],"summary":"List all add-ons","operationId":"getAllAddOns","responses":{"200":{"description":"Add-on list","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AddOn"}}}}}}},"post":{"tags":["Add-ons"],"summary":"Create add-on (admin)","description":"`name` is lowercased before save.","operationId":"createAddOn","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddOn"},"example":{"name":"Length","value":"16 inch","price":"25","price_show":25}}}},"responses":{"200":{"description":"Created add-on","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddOn"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"}}}},"/api/addOns/getByName":{"get":{"tags":["Add-ons"],"summary":"Get add-ons by name","operationId":"getAddOnsByName","parameters":[{"name":"name","in":"query","required":true,"schema":{"type":"string","example":"length"},"description":"Add-on group name"}],"responses":{"200":{"description":"Matching add-ons","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AddOn"}}}}}}}},"/api/addOns/names":{"get":{"tags":["Add-ons"],"summary":"List distinct add-on names","operationId":"getAddOnNames","responses":{"200":{"description":"Distinct add-on category names","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"},"example":["length","density","texture"]}}}}}}},"/api/addOns/{id}":{"put":{"tags":["Add-ons"],"summary":"Update add-on (admin)","description":"Route exists and requires admin auth. Handler is currently a stub and does not write a response body.","operationId":"updateAddOn","security":[{"bearerAuth":[]}],"parameters":[{"$ref":"#/components/parameters/MongoId"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddOn"}}}},"responses":{"200":{"description":"Intended success (stub handler)"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"}}},"delete":{"tags":["Add-ons"],"summary":"Delete add-on (admin)","description":"Route exists and requires admin auth. Handler is currently a stub and does not write a response body.","operationId":"deleteAddOn","security":[{"bearerAuth":[]}],"parameters":[{"$ref":"#/components/parameters/MongoId"}],"responses":{"200":{"description":"Intended success (stub handler)"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"}}}},"/api/category/createCategory":{"post":{"tags":["Category"],"summary":"Create category (admin)","operationId":"createCategory","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Category"},"example":{"name":"Wigs"}}}},"responses":{"200":{"description":"Created category","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Category"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"}}}},"/api/category/createSubCategory":{"post":{"tags":["Category"],"summary":"Create subcategory (admin)","operationId":"createSubCategory","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubCategory"},"example":{"name":"Lace Front","category":"6436ef1b4fb336001b12997d"}}}},"responses":{"200":{"description":"Created subcategory","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubCategory"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"}}}},"/api/category/getCategory":{"get":{"tags":["Category"],"summary":"List categories with subcategories","operationId":"getCategories","responses":{"200":{"description":"Categories nested with subcategories","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CategoryWithSubcategories"}}}}}}}},"/api/subCategory/":{"get":{"tags":["SubCategory"],"summary":"List subcategories by category","description":"Requires authentication. Filter by category ObjectId.","operationId":"getSubCategories","security":[{"bearerAuth":[]}],"parameters":[{"name":"category","in":"query","required":true,"schema":{"$ref":"#/components/schemas/ObjectId"},"description":"Parent category ObjectId"}],"responses":{"200":{"description":"Subcategory list","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SubCategory"}}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/api/vouchers/":{"get":{"tags":["Vouchers"],"summary":"List vouchers","operationId":"getAllVouchers","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Voucher list","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Voucher"}}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}},"post":{"tags":["Vouchers"],"summary":"Create voucher (admin)","operationId":"createVoucher","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Voucher"},"example":{"name":"SUMMER10","discount":10}}}},"responses":{"200":{"description":"Created voucher","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Voucher"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"}}}},"/api/vouchers/{id}":{"get":{"tags":["Vouchers"],"summary":"Get voucher by ID","description":"Uses find by id filter; may return an array.","operationId":"getVoucher","security":[{"bearerAuth":[]}],"parameters":[{"$ref":"#/components/parameters/MongoId"}],"responses":{"200":{"description":"Voucher(s)","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Voucher"}}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}},"put":{"tags":["Vouchers"],"summary":"Update voucher (admin)","operationId":"updateVoucher","security":[{"bearerAuth":[]}],"parameters":[{"$ref":"#/components/parameters/MongoId"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Voucher"}}}},"responses":{"200":{"description":"Updated voucher","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Voucher"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"}}},"delete":{"tags":["Vouchers"],"summary":"Delete voucher (admin)","description":"Deletes a voucher. Implementation currently reads `req.query.params` rather than the path id.","operationId":"deleteVoucher","security":[{"bearerAuth":[]}],"parameters":[{"$ref":"#/components/parameters/MongoId"},{"name":"params","in":"query","schema":{"$ref":"#/components/schemas/ObjectId"},"description":"Voucher id used by the current controller implementation"}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResponse"},"example":{"message":"deleted successfully"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"}}}},"/api/ratings/":{"post":{"tags":["Ratings"],"summary":"Create rating","description":"Creates a product rating for the authenticated user.","operationId":"createRating","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RatingCreate"},"example":{"product":"6436ef1b4fb336001b12997d","rating":5}}}},"responses":{"200":{"description":"Created rating","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rating"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}}},"get":{"tags":["Ratings"],"summary":"Get average rating for a product","operationId":"getAverageRating","security":[{"bearerAuth":[]}],"parameters":[{"name":"product","in":"query","required":true,"schema":{"$ref":"#/components/schemas/ObjectId"},"description":"Product ObjectId"}],"responses":{"200":{"description":"Average rating","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AverageRating"},"examples":{"rated":{"value":{"rating":4}},"unrated":{"value":{"rating":"Unrated"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/api/wishlist/getProducts":{"get":{"tags":["Wishlist"],"summary":"Get wishlist products","operationId":"getWishlistProducts","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Wishlist entries with populated products","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Wishlist"}}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/api/wishlist/getProduct/{id}":{"get":{"tags":["Wishlist"],"summary":"Check if product is wishlisted","operationId":"getWishlistProduct","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/ObjectId"},"description":"Product ObjectId"}],"responses":{"200":{"description":"Wishlist document or null","content":{"application/json":{"schema":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/Wishlist"}]}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/api/wishlist/addProduct":{"post":{"tags":["Wishlist"],"summary":"Add product to wishlist","operationId":"addWishlistProduct","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WishlistAdd"},"example":{"product":"6436ef1b4fb336001b12997d"}}}},"responses":{"200":{"description":"Added","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResponse"},"example":{"message":"Successfully added to wishlist"}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/api/wishlist/removeProduct/{id}":{"delete":{"tags":["Wishlist"],"summary":"Remove product from wishlist","operationId":"removeWishlistProduct","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/ObjectId"},"description":"Product ObjectId"}],"responses":{"200":{"description":"Removed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResponse"},"example":{"message":"Successfully removed from wishlist"}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/api/order/":{"post":{"tags":["Orders"],"summary":"Create order","description":"Creates order items, billing info, and an order for the authenticated user. Sends a confirmation email.","operationId":"createOrder","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrder"},"example":{"billingInfo":{"name":"John Doe","phone":"+8801712345678","email":"john@example.com","address":"12 Example Street","city":"Dhaka","postalCode":"1207","country":"Bangladesh"},"cartItems":[{"product":"6436ef1b4fb336001b12997d","amount":1,"color":"6436ef1b4fb336001b12997d","addons":["6436ef1b4fb336001b129980"]}],"currency":"USD","deliveryCharge":5}}}},"responses":{"200":{"description":"Created order","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Order"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/api/order/getAll":{"get":{"tags":["Orders"],"summary":"List all orders (admin)","operationId":"getAllOrders","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"All orders","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Order"}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"}}}},"/api/order/getAllByUser":{"get":{"tags":["Orders"],"summary":"List current user's active orders","description":"Returns the authenticated user's orders excluding Cancelled, Refunded, and Received. Includes billing and payment.","operationId":"getOrdersByUser","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"User orders","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Order"}}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/api/order/getOne/{order}":{"get":{"tags":["Orders"],"summary":"Get one order","operationId":"getOneOrder","security":[{"bearerAuth":[]}],"parameters":[{"$ref":"#/components/parameters/OrderId"}],"responses":{"200":{"description":"Order details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Order"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/api/order/getCancelledOrders":{"get":{"tags":["Orders"],"summary":"Get cancelled/refunded orders","description":"Returns the authenticated user's Cancelled or Refunded orders with billing and payment.","operationId":"getCancelledOrders","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Cancelled/refunded orders","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Order"}}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/api/order/getOrderHistory":{"get":{"tags":["Orders"],"summary":"Get order history","description":"Returns the authenticated user's Received orders with billing and payment.","operationId":"getOrderHistory","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Order history","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Order"}}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/api/order/updateOne/{order}":{"put":{"tags":["Orders"],"summary":"Update order (admin)","operationId":"updateOrder","security":[{"bearerAuth":[]}],"parameters":[{"$ref":"#/components/parameters/OrderId"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderUpdate"},"example":{"status":"Received"}}}},"responses":{"200":{"description":"Updated order","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Order"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"}}}},"/api/order/cancelOne/{order}":{"put":{"tags":["Orders"],"summary":"Cancel order","description":"Cancels the order for the authenticated user and sets an estimated return date (+25 days).","operationId":"cancelOrder","security":[{"bearerAuth":[]}],"parameters":[{"$ref":"#/components/parameters/OrderId"}],"responses":{"200":{"description":"Cancelled order","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Order"}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/api/payment/create/{order}":{"post":{"tags":["Payment"],"summary":"Create payment for order","description":"Creates a Payment record and starts the payment gateway checkout flow.","operationId":"createPayment","security":[{"bearerAuth":[]}],"parameters":[{"$ref":"#/components/parameters/OrderId"}],"responses":{"200":{"description":"Payment gateway create-payment response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentGatewayResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/api/payment/repay/{order}":{"post":{"tags":["Payment"],"summary":"Retry payment for order","description":"Deletes the previous payment (by invoice number header), creates a new payment, and restarts checkout.","operationId":"repayOrder","security":[{"bearerAuth":[]}],"parameters":[{"$ref":"#/components/parameters/OrderId"},{"name":"invoice_number","in":"header","required":true,"schema":{"type":"string"},"description":"Previous payment invoice number to replace","example":"12345678901234567890"}],"responses":{"200":{"description":"Payment gateway create-payment response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentGatewayResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/api/payment/verify":{"get":{"tags":["Payment"],"summary":"Verify payment (gateway callback)","description":"Public payment gateway callback. Updates order/payment status and redirects to the frontend.","operationId":"verifyPayment","parameters":[{"name":"status","in":"query","required":true,"schema":{"type":"string","example":"success"}},{"name":"invoice_number","in":"query","required":true,"schema":{"type":"string"}},{"name":"trx_id","in":"query","schema":{"type":"string"},"description":"Transaction id from gateway"}],"responses":{"302":{"description":"Redirect to frontend base URL","headers":{"Location":{"schema":{"type":"string","format":"uri"}}}},"400":{"$ref":"#/components/responses/BadRequest"}}}},"/api/payment/verifyRepayment":{"get":{"tags":["Payment"],"summary":"Verify repayment (gateway callback)","description":"Public repayment gateway callback. Updates order status and redirects to the frontend.","operationId":"verifyRepayment","parameters":[{"name":"status","in":"query","required":true,"schema":{"type":"string","example":"success"}},{"name":"invoice_number","in":"query","required":true,"schema":{"type":"string"}},{"name":"trx_id","in":"query","schema":{"type":"string"}}],"responses":{"302":{"description":"Redirect to frontend base URL","headers":{"Location":{"schema":{"type":"string","format":"uri"}}}},"400":{"$ref":"#/components/responses/BadRequest"}}}},"/api/cart/totalPrice":{"post":{"tags":["Cart"],"summary":"Calculate cart total","description":"Computes total price from cart items (discounted product price + add-ons × amount).","operationId":"getCartTotalPrice","parameters":[{"name":"currency","in":"query","schema":{"type":"string","example":"USD"},"description":"Accepted by the API but currently unused in calculation"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["cartItems"],"properties":{"cartItems":{"type":"array","items":{"$ref":"#/components/schemas/CartItemPrice"}}}},"example":{"cartItems":[{"product":"6436ef1b4fb336001b12997d","amount":2,"addons":[{"_id":"6436ef1b4fb336001b129980"}]}]}}}},"responses":{"200":{"description":"Computed total","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CartTotalResponse"},"example":{"totalPrice":499.99}}}},"400":{"$ref":"#/components/responses/BadRequest"}}}},"/api/orderItem/getOne/{orderItemId}":{"get":{"tags":["Order Items"],"summary":"Get order item","description":"Returns a populated order item with a computed `totalPrice`.","operationId":"getOrderItem","parameters":[{"name":"orderItemId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/ObjectId"}}],"responses":{"200":{"description":"Order item","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderItem"}}}},"404":{"$ref":"#/components/responses/NotFound"}}}},"/api/invoice/getInvoice/{order}":{"get":{"tags":["Invoice"],"summary":"Download invoice PDF","description":"Generates and streams an invoice PDF for the given order.","operationId":"getInvoice","parameters":[{"$ref":"#/components/parameters/OrderId"}],"responses":{"200":{"description":"Invoice PDF stream","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}},"application/pdf":{"schema":{"type":"string","format":"binary"}}}},"404":{"$ref":"#/components/responses/NotFound"}}}},"/api/wholesale/getAllRequests":{"get":{"tags":["Wholesale"],"summary":"List pending wholesaler requests (admin)","operationId":"getAllWholesalerRequests","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Pending wholesaler requests","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WholesellerRequest"}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"}}}},"/api/wholesale/getAllOrders":{"get":{"tags":["Wholesale"],"summary":"List wholesale orders (admin)","operationId":"getAllWholesaleOrders","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Wholesale orders","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WholeSaleOrder"}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"}}}},"/api/wholesale/getAllProducts":{"get":{"tags":["Wholesale"],"summary":"List wholesale products","description":"Requires authentication. Optional category/subcategory filters. Wholesaler-only checks are present in code but currently commented out.","operationId":"getAllWholesaleProducts","security":[{"bearerAuth":[]}],"parameters":[{"name":"filters[categories]","in":"query","schema":{"type":"array","items":{"$ref":"#/components/schemas/ObjectId"}},"style":"form","explode":true},{"name":"filters[subcategories]","in":"query","schema":{"type":"array","items":{"$ref":"#/components/schemas/ObjectId"}},"style":"form","explode":true}],"responses":{"200":{"description":"Wholesale products","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WholeSaleProduct"}}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/api/wholesale/createRequest":{"post":{"tags":["Wholesale"],"summary":"Create wholesaler request","description":"Creates a wholesaler request for the authenticated user.","operationId":"createWholesalerRequest","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["contact","email"],"properties":{"contact":{"type":"string","example":"+8801712345678"},"email":{"type":"string","format":"email"}}}}}},"responses":{"200":{"description":"Request created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessData"},"example":{"status":"success","data":{"newRequest":{"contact":"+8801712345678","email":"wholesale@example.com","status":"Pending"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/api/wholesale/submitOrder":{"post":{"tags":["Wholesale"],"summary":"Submit wholesale order","operationId":"submitWholesaleOrder","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WholeSaleOrderCreate"},"example":{"items":[{"name":"Bulk Lace Wig","price":180,"quantity":10}]}}}},"responses":{"200":{"description":"Wholesale order created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessData"}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/api/wholesale/createProduct":{"post":{"tags":["Wholesale"],"summary":"Create wholesale product (admin)","operationId":"createWholesaleProduct","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WholeSaleProductCreate"}}}},"responses":{"200":{"description":"Product created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessData"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"}}}},"/api/wholesale/updateUserAsWholeSaler/{id}":{"put":{"tags":["Wholesale"],"summary":"Approve wholesaler request (admin)","description":"Accepts a wholesaler request by id, sets request status to accepted, and marks the user as wholesaler.","operationId":"approveWholesaler","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/ObjectId"},"description":"Wholesaler request ObjectId"}],"responses":{"200":{"description":"Request approved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessData"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"}}}},"/api/wholesale/updateOrderStatus/{id}":{"put":{"tags":["Wholesale"],"summary":"Update wholesale order status (admin)","operationId":"updateWholesaleOrderStatus","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/ObjectId"},"description":"Wholesale order ObjectId"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WholeSaleOrderStatusUpdate"},"example":{"status":"Approved"}}}},"responses":{"200":{"description":"Order updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessData"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"}}}},"/api/wholesale/deleteRequest/{id}":{"delete":{"tags":["Wholesale"],"summary":"Delete wholesaler request (admin)","operationId":"deleteWholesalerRequest","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/ObjectId"},"description":"Wholesaler request ObjectId"}],"responses":{"200":{"description":"Request deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessData"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"}}}},"/api/customwigs/":{"post":{"tags":["Custom Wigs"],"summary":"Submit custom wig request","operationId":"createCustomWig","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Customization"},"example":{"customerName":"Alice Smith","orderQuantity":1,"baseMaterial":"Lace","hairMaterial":"Remy Human Hair","hairLength":"16 inch","hairColor":"Natural Black"}}}},"responses":{"200":{"description":"Custom wig request created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Customization"}}}},"400":{"$ref":"#/components/responses/BadRequest"}}}},"/api/customwigs/get-custom-wigs-sheet":{"get":{"tags":["Custom Wigs"],"summary":"Download custom wigs measurement sheet","description":"Streams a PDF measurement sheet from storage.","operationId":"getCustomWigsSheet","responses":{"200":{"description":"PDF stream","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}},"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/customProducts/":{"post":{"tags":["Custom Products"],"summary":"Create custom product preference","description":"Creates a custom product request. `userEmail` is taken from the authenticated user.","operationId":"createCustomProduct","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomProductCreate"},"example":{"gender":"Female","type":"Full Lace","preferredWeather":"Humid","priority":"Comfort","style":"Straight","greyHairMixed":false,"baseSize":"Medium","attachSystem":"Clips"}}}},"responses":{"200":{"description":"Custom product created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomProduct"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"JWT access token. Obtain via POST /api/auth/login or POST /api/auth/signUp. Send as: `Authorization: Bearer <token>`."}},"schemas":{"ObjectId":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"Error":{"type":"object","properties":{"status":{"type":"string","enum":["fail","error"],"example":"fail"},"message":{"type":"string","example":"you are not login "},"error":{"type":"object","description":"Full error object (development only)"},"stack":{"type":"string","description":"Stack trace (development only)"}},"required":["status","message"]},"Size":{"type":"object","required":["name","height","width"],"properties":{"name":{"type":"string","example":"Medium"},"height":{"type":"string","example":"14"},"width":{"type":"string","example":"12"}}},"User":{"type":"object","properties":{"_id":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"name":{"type":"string","minLength":3,"maxLength":20,"example":"John Doe"},"email":{"type":"string","format":"email","example":"john@example.com"},"workEmail":{"type":"string","example":"john.work@example.com"},"isWholeSaler":{"type":"boolean","default":false},"photo":{"type":"string","example":"https://cdn.example.com/photo.jpg"},"billingInfo":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"role":{"type":"string","enum":["user","admin"],"default":"user"},"gender":{"type":"string","default":"Male","example":"Male"},"socialLogins":{"type":"array","items":{"type":"string","enum":["google","facebook"]}},"activated":{"type":"boolean","default":false}}},"UserSignUp":{"type":"object","required":["name","email","password","passwordConfirm"],"properties":{"name":{"type":"string","minLength":3,"maxLength":20,"example":"Jane Doe"},"email":{"type":"string","format":"email","example":"jane@example.com"},"password":{"type":"string","format":"password","minLength":8,"example":"secret123"},"passwordConfirm":{"type":"string","format":"password","minLength":8,"example":"secret123"},"verified":{"type":"boolean","description":"If false, an activation email is sent. If true/omitted, account is created without requiring email activation flow.","example":false}}},"UserLogin":{"type":"object","required":["email","password"],"properties":{"email":{"type":"string","format":"email","example":"jane@example.com"},"password":{"type":"string","format":"password","example":"secret123"}}},"UserUpdate":{"type":"object","description":"Updatable user profile fields. Password fields are not allowed.","properties":{"name":{"type":"string","minLength":3,"maxLength":20},"email":{"type":"string","format":"email"},"workEmail":{"type":"string"},"photo":{"type":"string"},"gender":{"type":"string"},"billingInfo":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"}}},"UpdatePassword":{"type":"object","required":["passwordCurrent","password","passwordConfirm"],"properties":{"passwordCurrent":{"type":"string","format":"password","example":"oldSecret1"},"password":{"type":"string","format":"password","minLength":8,"example":"newSecret1"},"passwordConfirm":{"type":"string","format":"password","minLength":8,"example":"newSecret1"}}},"ForgotPassword":{"type":"object","required":["email"],"properties":{"email":{"type":"string","format":"email","example":"jane@example.com"}}},"ResetPassword":{"type":"object","required":["password","passwordConfirm"],"properties":{"password":{"type":"string","format":"password","minLength":8,"example":"newSecret1"},"passwordConfirm":{"type":"string","format":"password","minLength":8,"example":"newSecret1"}}},"AuthTokenResponse":{"type":"object","properties":{"status":{"type":"string","example":"success"},"token":{"type":"string","description":"JWT access token","example":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."},"user":{"$ref":"#/components/schemas/User"},"message":{"type":"string"}}},"Product":{"type":"object","properties":{"_id":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"name":{"type":"string","example":"Lace Front Wig"},"description":{"type":"string","example":"Premium human hair lace front wig"},"metaDescription":{"type":"string"},"photo":{"type":"string","example":"https://cdn.example.com/wig.jpg"},"price":{"type":"number","example":250},"category":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"subCategory":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"quantity":{"type":"number","default":1,"example":10},"sold":{"type":"number","default":0,"example":5},"addOns":{"type":"array","items":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"description":"Add-on ObjectIds (populated as grouped objects on getOne)"},"colors":{"type":"array","items":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"}},"available":{"type":"boolean","default":true},"discount":{"type":"number","default":0,"example":10},"demo":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"ProductCreate":{"type":"object","required":["name","price"],"properties":{"name":{"type":"string","example":"Lace Front Wig"},"description":{"type":"string"},"metaDescription":{"type":"string"},"photo":{"type":"string"},"price":{"type":"number","example":250},"category":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"subCategory":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"quantity":{"type":"number","example":10},"addOns":{"type":"array","items":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"}},"colors":{"type":"array","items":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"}},"available":{"type":"boolean","default":true},"discount":{"type":"number","default":0},"demo":{"type":"string"}}},"ProductUpdate":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"metaDescription":{"type":"string"},"photo":{"type":"string"},"price":{"type":"number"},"category":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"subCategory":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"quantity":{"type":"number"},"addOns":{"type":"array","items":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"}},"colors":{"type":"array","items":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"}},"available":{"type":"boolean"},"discount":{"type":"number"},"demo":{"type":"string"}}},"Color":{"type":"object","required":["name","color","family","price","currency"],"properties":{"_id":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"name":{"type":"string","example":"Natural Black"},"color":{"type":"string","example":"#1a1a1a"},"family":{"type":"string","example":"Black"},"price":{"type":"number","default":0,"example":0},"currency":{"type":"string","default":"bdt","example":"bdt"},"photo":{"type":"string"}}},"AddOn":{"type":"object","required":["value","price"],"properties":{"_id":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"name":{"type":"string","example":"length","description":"Lowercased on create; groups add-on options"},"value":{"type":"string","example":"16 inch"},"price":{"type":"string","example":"25","description":"Stored as a string in the database"},"price_show":{"type":"number","example":25}}},"Category":{"type":"object","required":["name"],"properties":{"_id":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"name":{"type":"string","example":"Wigs"}}},"CategoryWithSubcategories":{"allOf":[{"$ref":"#/components/schemas/Category"},{"type":"object","properties":{"subcategories":{"type":"array","items":{"$ref":"#/components/schemas/SubCategory"}}}}]},"SubCategory":{"type":"object","required":["name","category"],"properties":{"_id":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"name":{"type":"string","example":"Lace Front"},"category":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"}}},"Voucher":{"type":"object","required":["name","discount"],"properties":{"_id":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"name":{"type":"string","example":"SUMMER10"},"discount":{"type":"number","example":10}}},"Rating":{"type":"object","required":["rating","product"],"properties":{"_id":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"rating":{"type":"number","example":5},"product":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"ratedBy":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"}}},"RatingCreate":{"type":"object","required":["product","rating"],"properties":{"product":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"rating":{"type":"number","minimum":1,"maximum":5,"example":5}}},"AverageRating":{"type":"object","properties":{"rating":{"oneOf":[{"type":"number","example":4},{"type":"string","example":"Unrated"}],"description":"Rounded average rating, or Unrated if none exist"}}},"Billing":{"type":"object","required":["name","phone","email","address","city","postalCode","country"],"properties":{"_id":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"name":{"type":"string","example":"John Doe"},"phone":{"type":"string","example":"+8801712345678"},"altPhone":{"type":"string","example":"+8801812345678"},"email":{"type":"string","format":"email"},"address":{"type":"string","example":"12 Example Street"},"city":{"type":"string","example":"Dhaka"},"state":{"type":"string","default":"unknown","example":"Dhaka"},"postalCode":{"type":"string","example":"1207"},"country":{"type":"string","example":"Bangladesh"},"user":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"}}},"CartItem":{"type":"object","required":["product","amount"],"properties":{"product":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"amount":{"type":"number","minimum":1,"example":2},"color":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"addons":{"type":"array","items":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"description":"Add-on ObjectIds for order creation"}}},"CartItemPrice":{"type":"object","required":["product","amount"],"properties":{"product":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"amount":{"type":"number","minimum":1,"example":2},"addons":{"type":"array","items":{"type":"object","properties":{"_id":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"}}},"description":"Add-on objects with _id used for price calculation"}}},"CreateOrder":{"type":"object","required":["billingInfo","cartItems"],"properties":{"billingInfo":{"$ref":"#/components/schemas/Billing"},"cartItems":{"type":"array","items":{"$ref":"#/components/schemas/CartItem"}},"currency":{"type":"string","default":"USD","example":"USD"},"deliveryCharge":{"type":"number","default":0,"example":5}}},"Order":{"type":"object","properties":{"_id":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"orderItems":{"type":"array","items":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"}},"billingInfo":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"payment_amount":{"type":"number","example":320.5},"currency":{"type":"string","default":"USD","example":"USD"},"orderer":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"invoice_number":{"type":"string"},"payment_status":{"type":"string","default":"Pending","example":"Pending"},"deliveryCharge":{"type":"number","default":0},"status":{"type":"string","example":"Order Placed","description":"Common values: Order Placed, Payment Completed, Cancelled, Refunded, Received"},"estimatedReturnDate":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"billing":{"$ref":"#/components/schemas/Billing"},"payment":{"$ref":"#/components/schemas/Payment"}}},"OrderUpdate":{"type":"object","properties":{"status":{"type":"string","example":"Received","description":"New order status"},"payment_status":{"type":"string"},"deliveryCharge":{"type":"number"}}},"OrderItem":{"type":"object","properties":{"_id":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"product":{"oneOf":[{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},{"$ref":"#/components/schemas/Product"}]},"amount":{"type":"number","default":1,"example":2},"color":{"oneOf":[{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},{"$ref":"#/components/schemas/Color"}]},"addOns":{"type":"array","items":{"oneOf":[{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},{"$ref":"#/components/schemas/AddOn"}]}},"totalPrice":{"type":"number","description":"Computed on getOne","example":275}}},"Payment":{"type":"object","properties":{"_id":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"order":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"invoice_number":{"type":"string","example":"12345678901234567890"},"installment":{"type":"number","default":100},"amount":{"type":"number","example":320.5},"currency":{"type":"string","example":"USD"},"status":{"type":"string","default":"Pending","example":"Pending"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string"}}},"PaymentGatewayResponse":{"type":"object","description":"Payment gateway create-payment response payload","additionalProperties":true,"properties":{"payment_url":{"type":"string","example":"https://payment.example.com/checkout/abc"},"invoice_number":{"type":"string"}}},"CartTotalResponse":{"type":"object","properties":{"totalPrice":{"type":"number","example":499.99}},"required":["totalPrice"]},"Wishlist":{"type":"object","properties":{"_id":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"product":{"oneOf":[{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},{"$ref":"#/components/schemas/Product"}]},"user":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"}}},"WishlistAdd":{"type":"object","required":["product"],"properties":{"product":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"}}},"MessageResponse":{"type":"object","properties":{"message":{"type":"string","example":"Successfully added to wishlist"},"status":{"type":"string","example":"success"}}},"Customization":{"type":"object","required":["customerName","orderQuantity"],"properties":{"_id":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"customerName":{"type":"string","example":"Alice Smith"},"orderQuantity":{"type":"number","example":1},"baseMaterial":{"type":"string","example":"Lace"},"hairMaterial":{"type":"string","example":"Remy Human Hair"},"preCutHair":{"type":"string"},"hairDirection":{"type":"string"},"hairTextureLadies":{"type":"string"},"hairLength":{"type":"string","example":"16 inch"},"hairColor":{"type":"string","example":"Natural Black"},"greyHairPercentage":{"type":"string","example":"10%"},"hairDensity":{"type":"string","example":"130%"},"hairTextureForGents":{"type":"string"}}},"CustomProduct":{"type":"object","properties":{"_id":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"gender":{"type":"string","example":"Female"},"type":{"type":"string","example":"Full Lace"},"preferredWeather":{"type":"string","example":"Humid"},"priority":{"type":"string","example":"Comfort"},"style":{"type":"string","example":"Straight"},"greyHairMixed":{"type":"boolean","example":false},"baseSize":{"type":"string","example":"Medium"},"attachSystem":{"type":"string","example":"Clips"},"userEmail":{"type":"string","format":"email","description":"Set from the authenticated user; not provided by client"}}},"CustomProductCreate":{"type":"object","properties":{"gender":{"type":"string","example":"Female"},"type":{"type":"string","example":"Full Lace"},"preferredWeather":{"type":"string","example":"Humid"},"priority":{"type":"string","example":"Comfort"},"style":{"type":"string","example":"Straight"},"greyHairMixed":{"type":"boolean","example":false},"baseSize":{"type":"string","example":"Medium"},"attachSystem":{"type":"string","example":"Clips"}}},"WholesellerRequest":{"type":"object","required":["contact","email"],"properties":{"_id":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"userId":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"contact":{"type":"string","example":"+8801712345678"},"email":{"type":"string","format":"email"},"status":{"type":"string","default":"Pending","example":"Pending","description":"Pending | accepted"},"user":{"type":"object","properties":{"name":{"type":"string"},"email":{"type":"string","format":"email"}}}}},"WholeSaleProduct":{"type":"object","required":["name"],"properties":{"_id":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"name":{"type":"string","example":"Bulk Lace Wig"},"price":{"type":"number","example":180},"quantity":{"type":"number","example":50},"category":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"subCategory":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"}}},"WholeSaleProductCreate":{"type":"object","required":["name"],"properties":{"name":{"type":"string","example":"Bulk Lace Wig"},"price":{"type":"number","example":180},"quantity":{"type":"number","example":50},"category":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"subCategory":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"}}},"WholeSaleOrderItem":{"type":"object","properties":{"name":{"type":"string","example":"Bulk Lace Wig"},"price":{"type":"number","example":180},"quantity":{"type":"number","example":10}}},"WholeSaleOrder":{"type":"object","properties":{"_id":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"items":{"type":"array","items":{"$ref":"#/components/schemas/WholeSaleOrderItem"}},"orderer":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"status":{"type":"string","default":"Pending","example":"Pending"},"user":{"type":"object","properties":{"name":{"type":"string"},"email":{"type":"string","format":"email"}}}}},"WholeSaleOrderCreate":{"type":"object","required":["items"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/WholeSaleOrderItem"}}}},"WholeSaleOrderStatusUpdate":{"type":"object","required":["status"],"properties":{"status":{"type":"string","example":"Approved"}}},"SuccessUsersList":{"type":"object","properties":{"status":{"type":"string","example":"success"},"results":{"type":"integer","example":10},"users":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}},"SuccessUser":{"type":"object","properties":{"status":{"type":"string","example":"success"},"user":{"$ref":"#/components/schemas/User"}}},"SuccessData":{"type":"object","properties":{"status":{"type":"string","example":"success"},"data":{"type":"object","additionalProperties":true}}}},"parameters":{"MongoId":{"name":"id","in":"path","required":true,"schema":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"description":"MongoDB ObjectId"},"OrderId":{"name":"order","in":"path","required":true,"schema":{"type":"string","pattern":"^[a-fA-F0-9]{24}$","example":"6436ef1b4fb336001b12997d","description":"MongoDB ObjectId"},"description":"Order MongoDB ObjectId"}},"responses":{"Unauthorized":{"description":"Authentication required or token invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"status":"fail","message":"you are not login "}}}},"Forbidden":{"description":"Authenticated but insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"status":"fail","message":" you do not have permission to perform this action"}}}},"NotFound":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"status":"fail","message":"No document found with that ID"}}}},"BadRequest":{"description":"Invalid input, validation error, or cast error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"status":"fail","message":"Invalid input data."}}}}}}}